<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Components Page / Anna Mae's</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
    </style>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <div class="container">

        <header class="header">

        <img srcset="../components/img/logo.png 2x" src="../components/img/logo.png" alt="body copy">

        <a href="#" class="f1 f">BAKERY</a>
        <a href="#" class="f2 f">RESTAURANT</a>
        <a href="#" class="f3 f">GROUP MEALS</a>
        <a href="#" class="f4 f">TOUR</a>
        <a href="#" class="f5 f">GIFT CARDS</a>
        <a href="#" class="f6 f">FUNDRAISERS</a>
        <a href="#" class="f7 f">ABOUT</a>
        <a href="#" class="f8 f">CONTACT</a>
        <!--
        <img src="../components/img/47.png" alt="restaurant">
        <img src="../components/img/48.png" alt="group meals">
        <img src="../components/img/49.png" alt="tours">
        <img src="../components/img/50.png" alt="gift cards">
        <img src="../components/img/51.png" alt="fundraisers">
        <img src="../components/img/52.png" alt="about us">
        <img src="../components/img/53.png" alt="contact">
        -->

        </header>

        <div class="hero hero1">
--
            <img src="../components/img/3.png" alt="image of woman holding a pie" class="pieImage">

        </div>

    </div>

    <div class="split">

        <div class="part1">
            <h2 class="title1">WELCOME TO</h2><h2 class="title2">ANNA MAE’S</h2>
            <p>Anna Mae’s is a great family owned & operated establishment and an excellent choice to eat before or after you take in the St. Jacob’s Farmers Market.  We are less than 30 minutes from Stratford, Waterloo, Drayton & St Jacob’s.  Our quaint village also has a Cheese Outlet, Country Market, Hardware Store, Mennonite Furniture Shop and quilt shops! Come in and try our famous Broasted Chicken and Made in-house Mennonite Meals & Baking!</p>
            <p>We bake a variety of 18+ Pies made in-house everyday!</p>
            <p>Reservations: We accept reservations for groups of 10 or more, or for our Buggy Booth (seats 4 guests) by calling 519-595-4407.
            <p>We also have GLUTEN CONSCIOUS baking! Please see our <a href="#" class="bakery">Bakery</a> section for a list of all of our made in-house products.</p> 
            <p>*Please note: the following ingredients are used in our facility: WHEAT, EGGS, MILK, SOY, PEANUTS, TREE NUTS, MUSTARD, & FISH. SESAME & SULPHITES can also be found within some ingredients in our facility. Although we try our best, cross contamination is always a possibility.</p>
         </div>
         <div class="part2">
            <img src="../components/img/6.png" alt="image of a blueberry pie" class="bpieImage" srcset="../components/img/6a.png">
         </div>

 </div>

   

    
</body>    
</html>