<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Components Page / Anna Mae's</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <div class="component">

        <h3 class="component_name">body</h3>

        <img srcset="../components/img/logo.png 2x" src="../components/img/logo.png" alt="body copy">

        <div class="component_code">

            <h2>Code Goes Here</h2>
            <h3>This is a project about Anna Mae's Bakery created by Robin Chase</h3>

        </div>
    </div>

    
</body>    
</html>